<div class="container">
  <div class="jumbotron">
    <h1>Bustle</h1>
    {{admin-button article=article}}
  </div>
  <div class="well">
    {{#each model as |article|}}
    <h2>{{article.title}}</h2>
    {{article.image}}
      <p>
        by <strong>{{article.author}}</strong>
      </p>
      {{article-tile article=article}}
      <hr>
    {{/each}}
  </div>
  <div class="well">
    <h3>Add a new Article</h3>
  </div>
</div>
